.ListTasks {
    color: #ffffff;
    background-color: #bf07ac;
    height: 50px;
    width: 300px;
    margin: 20px auto;
    border-radius: 5px;
}

.ListTasks p {
    padding: 10px;
    font-size: 20px;
    position: relative;
}

.ListTasks p span{
    position: absolute;
    right: 10px;
}

.ListTasks p input{
    background-color: transparent;
    border: 0;
    color: #ffffff;
    font-size: 20px;
}

.ListTasks p input:focus{
    outline: none;
}

.faicons{
    font-size: 18px;
}